.navbar-dark{
  background-color: #04B4AE !important;
  text-align: right;
  font-size: 1.5rem;
}

header{
  font-family: 'Farsan', cursive;
  text-align: center;
  color: #F2F5A9 !important;
  text-align: right;
  background-image: url('../img/Fondo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 8rem 4rem;
}

body{
    font-family: 'Farsan', cursive;
}

h1{
 font-family: 'Lobster Two', cursive;
  text-align: center;
  text-decoration: underline;
  font-size: 4rem;
}

h2{
  text-align: center;
 font-family: 'Lobster Two', cursive;
 padding-top: 3%;
}

footer{
  background-color: #04B4AE !important;
  text-align: center;
  text-size: 500;
  height: 40%;
}

a{
  color: #F2F5A9;
}

.icons-section{
  margin: 3rem;
  margin-bottom: 1.5rem;
}

.card{
  margin: auto;
}

.cajablanca{
  background-color: #ffffff;
  text-align: center;
  padding:5%;
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  background-color: #04B4AE;
  border-radius: 50%;
}

.carousel-indicators {
  bottom: -1.5rem;
}

span{
  background-color: #04B4AE !important;
  text-align: center;
   font-family: 'Lobster Two', cursive;
  font-size: 1.5rem;
}

#icons-section{
  text-align: center;
  border-color: none;
  margin-right: 5%;
  margin-left: 5%;
}

#container{
  padding: 2rem;
  margin-left: 5%;
  margin-right: 5%;
}

p{
  font-family: 'Farsan', cursive;
}

.button{
  text-align: center;
}

article{
  background-color: #F2F5A9;
}

#trabajo{
}
